body{
    background: linear-gradient(180deg, rgb(231, 160, 72), orange);
}

#container {
    box-shadow: 0.2rem 0.1rem 5px darkorange;
}

#banner {
    border: 1px solid orange;
}

#pf img {
    height: 15vh;
    box-shadow: 0.2rem 0.1rem 5px orange;
}

#pf h1 {
    font-size: 1.7vw;
    color:rgb(231, 160, 72);
}

#line {
    background-color:rgb(231, 160, 72);
}

#line2 {
    background-color: rgba(231, 160, 72, 0.5);
    box-shadow: 0.2rem 0.1rem 3px rgba(255, 166, 0, 0.438);
}

#song-content h1 {
    color:orange;
}

/*original*/
#kiseki-knot {
    background: url(../../../../assets/Individuals/coco/original/kiseki\ knot.jpg);
}

#weather-hackers {
    background: url(../../../../assets/Individuals/coco/original/weather-hackers.jpg);
}
/*cover*/
#fansa {
    background: url(../../../../assets/Individuals/coco/cover/fansa.jpg);
}