#navgen0 {
    background: url(../../assets/Individuals/navbg/gen0.jpg);
    background-size:cover;
    background-color: rgba(43,54,66,0.4);
    background-blend-mode: overlay;
    background-position: center;
}

#navgen1 {
    background: url(../../assets/Individuals/navbg/gen1.jpg);
    background-size:cover;
    background-color: rgba(43,54,66,0.4);
    background-blend-mode: overlay;
    background-position: center;
}

#navgen2 {
    background: url(../../assets/Individuals/navbg/gen2.jpg);
    background-size:cover;
    background-color: rgba(43,54,66,0.4);
    background-blend-mode: overlay;
    background-position: center;
}

#navgaymers {
    background: url(../../assets/Individuals/navbg/gamers.jpg);
    background-size:cover;
    background-color: rgba(43,54,66,0.4);
    background-blend-mode: overlay;
    background-position: center;
}
#navgen3 {
    background: url(../../assets/Individuals/navbg/gen3.jpg);
    background-size:cover;
    background-color: rgba(43,54,66,0.4);
    background-blend-mode: overlay;
    background-position: center;
}

#navgen4 {
    background: url(../../assets/Individuals/navbg/gen4.jpg);
    background-size:cover;
    background-color: rgba(43,54,66,0.4);
    background-blend-mode: overlay;
    background-position: center;

}

#navgen5 {
    background: url(../../assets/Individuals/navbg/gen5.jpg);
    background-size:cover;
    background-color: rgba(43,54,66,0.4);
    background-blend-mode: overlay;
    background-position: center;
}
