#back {
    position: absolute;
    height: 85%;
    width: 45vw;
    margin: 0 25vw;
}

#back img {
    transform: translateX(-55%);
    height: 90%;
}

#container{
    padding: 0;
}

#banner {
    width: 100%;
    height: 15rem;
    opacity: 0.8;
    border: 1px solid rgb(17, 220, 235);
}

#banner:hover {
    cursor: url(../../assets/MainPageAssets/main/cursor.cur), auto;
}

#pf {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 13vh;
    left: 8vw;
    width: 13vw;
    height: 27vh;
    border-radius: 100%;

}

#pf img {
    background-size: 100%;
    border-radius: 100%;
    box-shadow: var(--shadow);
}

#pf h1 {
    color: lightblue;
    font-size: 2.5vw;
    font-family: cursive;
    text-align: center;
}

#song-content {
    display: flex;
    position:relative;
    bottom: 10vh;
    justify-content: center;
    min-height: 100vh;
    font-size: 2vw;
}

#song-content h1 {
    font-size: 5vw;
}

#song-content ul {
    margin-top: 4vh;
}

#song-content ul li {
    width: 18vw;
    height: 15vh;
    padding: 6vh 2vh;
    margin-top: 0.4vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: var(--shadow);
    color: rgba(0, 0, 0, 0);
    transition: transform 600ms ease;
}

#song-content ul li:hover {
    transform: scaleX(1.5) scaleY(1.3);
}

#line {
    background-color: lightblue;
    position: relative;
    bottom: 7rem;
}

#line2 {
    position: relative;
    left: 16vw;
    margin-top: 9rem;
    height: auto;
    width: 0.3vw;
    background-color: rgba(lightblue, 0.6);
    border-radius: 10px;
    box-shadow: var(--shadow);
}

#cover {
    margin-left: 30vw;
}

@media screen and (max-width: 650px) {
    #container {
        padding: 1rem;
    }

    #banner {
        height: 20vh;
    }

    #pf {
        width: 30%;
        bottom: 12vh;
    }

    #song-content {
        display: inline-block;
        width: 100%;
    }

    #song-content h1 {
        font-size: 15vw;
        margin: 0 15%;
    }

    #song-content ul{
        width: 100%;
    }
    
    #song-content ul li{
        width: 100%;
        height: 30vh;
        margin-top: 3rem;

        background-color:rgb(69, 71, 68);
        background-blend-mode: overlay;
        color: rgba(255, 255, 255, 1);
        border: 2px solid #000;
        font-size: 7vw;
        padding: 3rem;
    }

    #cover {
        margin: 0;
    }
}


