body{
    background: linear-gradient(180deg, black, darkblue, lightblue);
}

#container {

}

#banner {
    border: 1px solid blue;
}

#pf img {
    box-shadow: 0.2rem 0.1rem 5px rgb(58, 78, 196);
}

#pf h1 {
    font-size: 1.7vw;
    color:rgb(102, 214, 252);
}

#line {
    background-color:rgb(58, 78, 196)
}

#line2 {
    
}

#song-content h1 {
    color:rgb(85, 102, 202);
}

/*original*/


/*cover*/
#ochame-kinou {
    background: url(../../../../assets/Individuals/sakamata/cover/ochame-kinou.jpg);
}