<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I love plagarism</title>
    <link rel="stylesheet" type="text/css" href="main page.css">
    <link rel="stylesheet" type="text/css" href="animation.css">
    <link rel="stylesheet" type="text/css" href="main template.css">
</head>
<body>
<!--Top part-->
<div id="top-page">
    <p>Talents</p>
    <img src="../assets/main/top logo.png">
</div>
<!--content-->
<div id=container>

</div>
</body>
</html>