body{
    background: linear-gradient(180deg, black, darkblue, lightblue);
}

#container {

}

#banner {
    border: 1px solid blue;
}

#pf img {
    box-shadow: 0.2rem 0.1rem 5px rgb(58, 78, 196);
}

#pf h1 {
    font-size: 1.7vw;
    color:rgb(102, 214, 252);
}

#line {
    background-color:rgb(58, 78, 196)
}

#line2 {
    
}

#song-content h1 {
    color:rgb(85, 102, 202);
}

#unfinished {
    display: flex;
    position: fixed;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 40%;
    background-color: white;
    z-index: 9999;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}

#unfinished h1 {
    font-size: 3vw;
    text-align: center;
}

#unfinished a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 5vh;
    margin-top: 5%;
    font-size: 1.5vw;
    background-color: snow;
    border-radius: 5px;
    border: 2px solid black;
}

#unfinished a:hover {
    cursor: pointer;
    background-color: yellow;
}

#unfinished p {
    white-space: pre-line;
    font-size: 1.5vw;
    padding-top: 0;
}

#tocover {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.700);
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
}

/*original*/
#dream-story {
    background: url(../../../../assets/Individuals/sora/original/dream-story.jpg);
}

#heroic-heroine {
    background: url(../../../../assets/Individuals/sora/original/heroic-heroine.jpg);
}

#hurray-hurray-love {
    background: url(../../../../assets/Individuals/sora/original/hurray-hurray-love.jpg);
}

#i-love-you-so-much-i-think-i-want-to-cry {
    background: url(../../../../assets/Individuals/sora/original/i-love-you-so-much-i-want-to-cry.jpg);
}

#image-source {
    background: url(../../../../assets/Individuals/sora/original/image-source.jpg);
}

#kirameki-rider {
    background: url(../../../../assets/Individuals/sora/original/kirameki-rider.png);
}

#kotobakaze {
    background: url(../../../../assets/Individuals/sora/original/kotobakaze.jpg);
}

#kurenai-kurunikuru {
    background: url(../../../../assets/Individuals/sora/original/kurenai-kurunikuru.png);
}

#saina-jibun {
    background: url(../../../../assets/Individuals/sora/original/sainai-jibun-ni-love-song-wo.jpg);
}

#seesaw-game {
    background: url(../../../../assets/Individuals/sora/original/seesaw-game.jpg);
}

#shiny-smily-story {
    background: url(../../../../assets/Individuals/sora/original/shiny-smily-story.jpg);
}

#sono-ame-no-hi-niwa {
    background: url(../../../../assets/Individuals/sora/original/sona-ame-no-hi-niwa.jpg);
}

#step-and-go {
    background: url(../../../../assets/Individuals/sora/original/step\ and\ go.jpg);
}

#wandering-days {
    background: url(../../../../assets/Individuals/sora/original/wandering-days.jpg);
}

#wistful-record {
    background: url(../../../../assets/Individuals/sora/original/wistful-record.jpg);
}

#wonderland {
    background: url(../../../../assets/Individuals/sora/original/wonderland.jpg);
}

#yumemiru-asterisk {
    background: url(../../../../assets/Individuals/sora/original/yumemiru-asterisk-dreaming\ ver..jpg);
}

/*cover*/
#ai-kotoba{ 
    background: url(../../../../assets/Individuals/sora/cover/ai-kotoba.jpg);
}

#akutsuki-no-kuruma{ 
    background: url(../../../../assets/Individuals/sora/cover/akutsuki-no-kuruma.jpg);
}

#alice-in-ny{ 
    background: url(../../../../assets/Individuals/sora/cover/alice\ in\ ny.jpg);
}

#alien-alien{ 
    background: url(../../../../assets/Individuals/sora/cover/alien-alien.jpg);
}

#angel{ 
    background: url(../../../../assets/Individuals/sora/cover/angel.jpg);
}

#autophagy{ 
    background: url(../../../../assets/Individuals/sora/cover/autophagy.jpg);
}

#blessing{ 
    background: url(../../../../assets/Individuals/sora/cover/blessing.jpg);
}

#cendrillon{ 
    background: url(../../../../assets/Individuals/sora/cover/cendrillon.jpg);
}

#chocolate-box{ 
    background: url(../../../../assets/Individuals/sora/cover/chocolate-box.jpg);
}

#dance-robot-dance{ 
    background: url(../../../../assets/Individuals/sora/cover/dance-robot-dance.jpg);
}

#diamond-crevasse{ 
   background: url(../../../../assets/Individuals/sora/cover/diamond-crevasse.jpg);
}

#donut-hole{ 
    background: url(../../../../assets/Individuals/sora/cover/donut-hole.jpg);
}

#ema-ema{ 
    background: url(../../../../assets/Individuals/sora/cover/ema-ema.jpg);
}

#envy-baby{ 
    background: url(../../../../assets/Individuals/sora/cover/envy-baby.jpg);
}

#geki-teiko{ 
    background: url(../../../../assets/Individuals/sora/cover/geki-teikokukagekidan.jpg);
}

#hanamuke-no-tori{ 
    background: url(../../../../assets/Individuals/sora/cover/hanamuke-no-tori.png);
}

#hibana{ 
    background: url(../../../../assets/Individuals/sora/cover/hibana.jpg);
}

#hot-limit {
    background: url(../../../../assets/Individuals/sora/cover/hot-limit.jpg);
}

#just-a-sunny-day-for-you{ 
    background: url(../../../../assets/Individuals/sora/cover/just-a-sunny-day-for-you.jpg);
}

#karakuri-pierrot{ 
    background: url(../../../../assets/Individuals/sora/cover/karakuri-pierrot.jpg);
}

#kimagure-romantic{ 
    background: url(../../../../assets/Individuals/sora/cover/kimagure-romantic.jpg);
}

#kimi-wa-boku-ni-niteiru{ 
    background: url(../../../../assets/Individuals/sora/cover/kimi-wa-boku-ni-niteiru.jpg);
}

#king{ 
    background: url(../../../../assets/Individuals/sora/cover/king.jpg);
}

#konomedokino{ 
    background: url(../../../../assets/Individuals/sora/cover/konomedokino.jpg);
}

#lion{ 
    background: url(../../../../assets/Individuals/sora/cover/lion.jpg);
}


#love-trial{ 
    background: url(../../../../assets/Individuals/sora/cover/love-trial.jpg);
}

#magia{ 
    background: url(../../../../assets/Individuals/sora/cover/magia.jpg);
}

#mousou-kanshou{ 
    background: url(../../../../assets/Individuals/sora/cover/mousou-kanshou-daishou-renmei.jpg);
}

#natsu-matsuri{ 
    background: url(../../../../assets/Individuals/sora/cover/natsu-matsuri.jpg);
}

#nyannyanteki{ 
    background: url(../../../../assets/Individuals/sora/cover/nyannyanteki-uchuurun.jpg);
}

#ochame-kinou{ 
    background: url(../../../../assets/Individuals/sora/cover/ochame-kinou.jpg);
}

#ojomajo-carnival{ 
    background: url(../../../../assets/Individuals/sora/cover/ojomajo-carnival.jpg);
}

#rain-stop-goodbye{ 
    background: url(../../../../assets/Individuals/sora/cover/rain-stops-goodbye.jpg);
}

#remote-control{ 
    background: url(../../../../assets/Individuals/sora/cover/remote-control.jpg);
}

#seishoujo-ryouiki{ 
    background: url(../../../../assets/Individuals/sora/cover/seishoujo-ryouiki.jpg);
}

#sobakasu{ 
    background: url(../../../../assets/Individuals/sora/cover/sobakasu.jpg);
}

#suisei-honeymoon{ 
    background: url(../../../../assets/Individuals/sora/cover/suisei-honeymoon.jpg);
}

#sweet-magic{ 
    background: url(../../../../assets/Individuals/sora/cover/sweet-magic.jpg);
}

#taiyoukei-disco{ 
    background: url(../../../../assets/Individuals/sora/cover/taiyoukei-disco.jpg);
}

 #the-vampire{ 
    background: url(../../../../assets/Individuals/sora/cover/the-vampire.jpg);
}

#tokyo-sama{ 
    background: url(../../../../assets/Individuals/sora/cover/tokyo-sama.jpg);
}

#turing-love {
    background: url(../../../../assets/Individuals/sora/cover/turing-love.jpg);
}

#venom{ 
    background: url(../../../../assets/Individuals/sora/cover/venom.jpg);
}

