body{
    background: linear-gradient(180deg, black, darkblue, lightblue);
}

#container {

}

#banner {
    border: 1px solid blue;
}

#pf img {
    box-shadow: 0.2rem 0.1rem 5px rgb(58, 78, 196);
}

#pf h1 {
    font-size: 1.7vw;
    color:rgb(102, 214, 252);
}

#line {
    background-color:rgb(58, 78, 196)
}

#line2 {
    
}

#song-content h1 {
    color:rgb(85, 102, 202);
}


#unfinished {
    display: flex;
    position: fixed;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 40%;
    background-color: white;
    z-index: 9999;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}

#unfinished h1 {
    font-size: 3vw;
    text-align: center;
}

#unfinished a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 5vh;
    margin-top: 5%;
    font-size: 1.5vw;
    background-color: snow;
    border-radius: 5px;
    border: 2px solid black;
}

#unfinished a:hover {
    cursor: pointer;
    background-color: yellow;
}

#unfinished p {
    white-space: pre-line;
    font-size: 1.5vw;
    padding-top: 0;
}

#tocover {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.700);
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
}


/*original*/
#asuiro-clearsky {
    background: url(../../../../assets/Individuals/robocco/original/asuiro-clearsky.png);
}

#candy-go-round {
    background: url(../../../../assets/Individuals/robocco/original/candy-go-round.jpg);
}

#fiction {
    background: url(../../../../assets/Individuals/robocco/original/fiction.jpg);
}

#kirameki-rider {
    background: url(../../../../assets/Individuals/robocco/original/kirameki-rider.jpg);
}

#kotonoha {
    background: url(../../../../assets/Individuals/robocco/original/kotonoha.jpg);
}

#shachiku-no-uta {
    background: url(../../../../assets/Individuals/robocco/original/shachiku-no-uta.jpg);
}

#smily-shiny-story {
    background: url(../../../../assets/Individuals/robocco/original/shiny-smily-story.jpg);
}

#suspect {
    background: url(../../../../assets/Individuals/robocco/original/suspect.jpg);
}

/*cover*/
#akanbe {
    background: url(../../../../assets/Individuals/robocco/cover/akanbe.jpg);
}

#amarylls {
    background: url(../../../../assets/Individuals/robocco/cover/amarylls.jpg);
}

#baby-i-love-you {
    background: url(../../../../assets/Individuals/robocco/cover/baby-i-love-you.jpg);
}

#blessing {
    background: url(../../../../assets/Individuals/robocco/cover/blessing.jpg);
}

#bocca-della-veritas {
    background: url(../../../../assets/Individuals/robocco/cover/bocca-della-verita.jpg);
}

#boys-and-girls {
    background: url(../../../../assets/Individuals/robocco/cover/boys-and-girls.jpg);
}

#crazy-party-night {
    background: url(../../../../assets/Individuals/robocco/cover/crazy-party-night.jpg);
}

#dyed-in-your-color {
    background: url(../../../../assets/Individuals/robocco/cover/dyed-in-your-color.jpg);
}

#getsuyoubi-no-yuutsu {
    background: url(../../../../assets/Individuals/robocco/cover/getsuyoubi-no-yuuutsu.jpg);
}

#happy-birthday {
    background: url(../../../../assets/Individuals/robocco/cover/happy-birthday.jpg);
}

#happy-haloween {
    background: url(../../../../assets/Individuals/robocco/cover/happy-haloween.jpg);
}

#king {
    background: url(../../../../assets/Individuals/robocco/cover/king.jpg);
}

#kyokan {
    background: url(../../../../assets/Individuals/robocco/cover/kyokan.jpg);
}

#love-letter {
    background: url(../../../../assets/Individuals/robocco/cover/love-letter.jpg);
}

#melty-land-nightmare {
    background: url(../../../../assets/Individuals/robocco/cover/melty-land-nightmare.jpg);
}

#next-wednesday {
    background: url(../../../../assets/Individuals/robocco/cover/next-wednesday.jpg);
}

#ochame-kinou {
    background: url(../../../../assets/Individuals/robocco/cover/ochame-kinou.jpg);
}

#platonic-girl {
    background: url(../../../../assets/Individuals/robocco/cover/platonic-girl.jpg);
}

#please-darling {
    background: url(../../../../assets/Individuals/robocco/cover/please-darling.jpg);
}

#remote-control {
    background: url(../../../../assets/Individuals/robocco/cover/remote-control.jpg);
}

#song-of-sketch {
    background: url(../../../../assets/Individuals/robocco/cover/song-of-sketch.jpg);
}

#the-boy-and-the-magic-robot {
    background: url(../../../../assets/Individuals/robocco/cover/the-boy-and-the-magic-robot.jpg);
}

#ugoku-ugoku {
    background: url(../../../../assets/Individuals/robocco/cover/ugoku-ugoku.jpg);
}

#vermont-kiss {
    background: url(../../../../assets/Individuals/robocco/cover/vermont-kiss.jpg);
}